@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-circle {
  filter: drop-shadow(10 20 10px rgb(255, 255, 255));
  transition: filter 3s ease-in-out;
}

.glow-circle:hover {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
}
